@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container{
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h1{
    color: #333;
    margin-bottom: 10px;
}

button{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transform: background 0.3s;
}

button:hover{
    background-color: #0056b3;
}